---
import Layout from "../layouts/Layout.astro";
import { getSlugFromFileUrl } from "../utils/get-slug";

const rawConseils = await Astro.glob("../conseils/*.md");

const conseils = rawConseils
  .filter(({ frontmatter: { draft } }) => draft !== true)
  .map(({ frontmatter: { title }, file }) => ({
    title,
    url: `/conseil/${getSlugFromFileUrl(file)}/`,
  }));
---

<Layout title="Conseils">
  <div class="prose">
    <ul>
      {
        conseils.map(({ title, url }) => (
          <li>
            <a href={url}>{title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
