---
import Layout from "../layouts/Layout.astro";
import { getSlugFromFileUrl } from "../utils/get-slug";
import { clsx } from "clsx";

const rawRecipes = await Astro.glob("../recipes/*.md");

const recipes = rawRecipes.map(
  ({ frontmatter: { title, photo, cooking_datetime }, file }) => ({
    title,
    photo,
    url: `/recette/${getSlugFromFileUrl(file)}/`,
    cookingDatetime: new Date(cooking_datetime),
  })
);

const recipesSortedFromMostRecentToOldest = recipes.sort(
  (a, b) => Number(b.cookingDatetime) - Number(a.cookingDatetime)
);
---

<Layout title="Recettes">
  <div class="grid grid-cols-3 gap-8">
    {
      recipesSortedFromMostRecentToOldest.map(
        ({ photo, title, url }, index) => (
          <article
            class={clsx({
              "row-span-2 col-span-2": index === 0,
            })}
          >
            <a
              href={url}
              class="flex flex-col rounded-lg border border-gray-200"
            >
              <div>
                <img
                  src={photo}
                  alt=""
                  class="aspect-video object-cover object-center rounded-t-lg"
                />
              </div>

              <div class="p-4">
                <h2 class="font-medium max-w-prose">{title}</h2>
              </div>
            </a>
          </article>
        )
      )
    }
  </div>
</Layout>
