---
import Layout from '../layouts/Layout.astro';

const receipes = [
	{ imageUrl: '/risotto.jpeg', title: 'Risotto tomattes séchées, champignons et parmesan', url: '/risotto-tomates-sechees-champignons-parmesan' },
	{ imageUrl: '/risotto.jpeg', title: 'Risotto tomattes séchées, champignons et parmesan', url: '/risotto-tomates-sechees-champignons-parmesan' },
	{ imageUrl: '/risotto.jpeg', title: 'Risotto tomattes séchées, champignons et parmesan', url: '/risotto-tomates-sechees-champignons-parmesan' },
	{ imageUrl: '/risotto.jpeg', title: 'Risotto tomattes séchées, champignons et parmesan', url: '/risotto-tomates-sechees-champignons-parmesan' },
]
---

<Layout title="Recettes">
	<div class="grid grid-cols-3 gap-12">
		{receipes.map(({ imageUrl, title, url }) => (
			<a href={url} class="flex flex-col bg-gray-50 rounded-xl">
				<div class="p-4">
					<img src={imageUrl} alt="" class="aspect-video object-cover object-center rounded-t-lg" />
				</div>

				<div class="px-4 pt-4 pb-8">
					<h2 class="text-lg">{title}</h2>
				</div>
			</a>
		))}
	</div>
</Layout>
