---
import Layout from "../layouts/Layout.astro";
import { getSlugFromFileUrl } from "../utils/get-slug";
import RecipeCard from "../components/RecipeCard.vue";
import { clsx } from "clsx";

const rawRecipes = await Astro.glob("../recipes/*.md");

const recipes = rawRecipes
  .filter(({ frontmatter: { draft } }) => draft !== true)
  .map(
    ({
      frontmatter: {
        title,
        photo,
        cooking_datetime,
        cooking_duration: {
          preparation: preparationDuration,
          chill: chillDuration,
          cooking: cookingDuration,
        },
        note,
      },
      file,
    }) => ({
      title,
      photo,
      url: `/recette/${getSlugFromFileUrl(file)}/`,
      cookingDatetime: new Date(cooking_datetime),
      totalCookingDuration:
        preparationDuration + chillDuration + cookingDuration,
      note,
    })
  );

const recipesSortedFromMostRecentToOldest = recipes.sort(
  (a, b) => Number(b.cookingDatetime) - Number(a.cookingDatetime)
);
---

<Layout title="Recettes">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    {
      recipesSortedFromMostRecentToOldest.map(
        ({ totalCookingDuration, ...recipeMetadata }, index) => (
          <div
            class={clsx({
              "md:row-span-2 md:col-span-2": index === 0,
            })}
          >
            <RecipeCard
              {...recipeMetadata}
              cookingDuration={totalCookingDuration}
            />
          </div>
        )
      )
    }
  </div>
</Layout>
