---
import TheAppHeader from "../components/TheAppHeader.vue";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{`La cuisine de Baptiste Devessier - ${title}`}</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <!-- Disable indexation for now -->
    <meta name="robots" content="noindex, nofollow" />
  </head>
  <body class="h-full">
    <div class="min-h-full">
      <!-- The media query matches `sm` breakpoint of Tailwind CSS -->
      <TheAppHeader
        currentPathname={Astro.url.pathname}
        client:media="(max-width: 640px)"
      />

      <div class="py-10">
        <slot />
      </div>
    </div>
  </body>
</html>
